div{
  margin-top: 50px;
  background-color: rgb(233, 159, 106);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  justify-content: center;
}
button{
  padding: 10px;
  margin: 10px;
  color: rgb(20, 64, 209);
  
height: 40px;
width: 40px;
border-radius: 70%;
border: 1px  solid gray;
  
}